{{>header}}
{{>navbar}}

<section class="container">
    <div class="row ">
        <table  class=" table table-striped ">
            <tr>
            <th>Id</th>
                <th>name</th>
                <th>actions</th>
            </tr>
    {{#if isEmpty}}
            <tr>
                <td colspan="3">No data to show</td>
            </tr>
            {{/if}}
            {{#each data }}
<tr>
    <td>{{this.id}}</td>
    <td>{{this.name}}</td>
    <td>
        <a class="btn btn-warning m-1" href="/single/{{this.id}}">show User</a>
        <a  class="btn btn-warning m-1" href="/editUser/{{this.id}}">edit User</a>
        <a class="btn btn-danger m-1" href="/delUser/{{this.id}}"> Delete User</a>
    </td>
</tr>
{{/each }}
        </table>

    </div>
</section>
{{>footer}}